.header {
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 10px;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
}

.navItem {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  transition: 0.7s;
}
.navItem:hover {
  color: var(--accent-color);
}
.navItem::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: var(--accent-color);
  height: 2px;
  width: 0;
  transition: 0.7s;
}
.navItem:hover::after {
  width: 100%;
}

@media (min-width: 550px) and (max-width: 1000px) {
  .header {
    font-size: 25px;
    padding: 25px 10px;
  }
}
@media (max-width: 550px) {
  .header {
    font-size: 20px;
    padding: 20px 10px;
  }
}
