.header {
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 10px;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
}

.navItem {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  transition: 0.7s;
}
.navItem::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: var(--text-color);
  height: 2px;
  width: 0;
  transition: 0.7s;
}
.navItem:hover::after {
  width: 100%;
}
