.errorFallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.errorFallback p {
  font-size: 25px;
  color: red;
  font-weight: 700;
  font-style: italic;
}
.errorFallback button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
